.main-container {
    background: rgb(3,3,14);
    background: linear-gradient(0deg, rgba(3,3,14,1) 0%, rgba(34,193,195,1) 100%);
    height: 100vh;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    margin-bottom: 0;
}
.index-image{
    width: 50%;
}
.main-container-articles{
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    text-align: center;
    background-image: url(../img/ladrillos.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.main-article {
    width: 30%;
    margin: 2.5em;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(4, 7, 10);
    -moz-box-shadow: 10px 10px 5px 0px rgb(6, 9, 12);
    box-shadow: 10px 10px 5px 0px rgb(5, 7, 8);
    border: 2px solid black;
}
.main-header {
    width: 100%;
}
.main-image {
    width: 100%;
}
.main-text {
    color: white;
    text-align: left !important;
    margin: auto auto;
}
.main-title {
    font-weight: bold;
    color: white;
}
.main-container-aditionals{
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    height: 100vh;
}
.main-aditional-1 {
    color: white;
    background-color: rgba(90,9,6,255);
    width: 25%;
    height: 100%;
}
.main-aditional-2 {
    color: white;
    background-color: rgba(90,9,6,255);
    width: 75%;
    height: 100%;
    font-size: 80px;
    text-align: justify;
    vertical-align: middle;
    padding: 150px 150px;
}
